
<h2 class="attic-header">Order#<%= t(@order.number) %></h2>
<div class="general-block standard">
  <%= image_tag("trackOrder.jpg") %>
        <% if @order.shipment_state == 'complete' %>
        <h3>And your status is.....Recieved </h3>
        <div class="row">

        <div class="span2">
            <%= image_tag("rails.png") %>
        </div>

        <div class="span9">
            <p>
              We've received your order and it is in queue for Production. Check back here for updates!
              </br >
              We will do our best to get each order produced and out the door within 2 business days
            </p>
            <p>Need to make a change? There may still be time! Contact our Customer Service Team.</p>
        </div>
      </div>
        <% else %>
        <%= @order.shipment_state %>
        <% end %>
</div>
